<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- <script defer src="/js/application.js"></script> --}}
  <link rel='stylesheet' href='/css/style.css'>
  <link rel='stylesheet' href='/css/profile.css'>

 <script src="https://www.gstatic.com/firebasejs/8.6.0/firebase-app.js"></script>
 <script src="https://www.gstatic.com/firebasejs/8.6.0/firebase-storage.js"></script>
  <script src="https://api-maps.yandex.ru/2.1/?apikey=a3f21227-7013-40bd-a081-c9091659ae59&lang=ru_RU"></script>
  <title>Document</title>
</head> 
<body>
  {{>navbar}}
  {{!-- <div class='wrapper'>
      <div class='loader'></div>
      <div class="loader-item"></div>
  </div> --}}
   
  {{{body}}}
</body>
</html>
